body,html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.header {
    grid-area: 1 / 2 / 2 / 6;
}

.sidebar {
    grid-area: 1 / 1 / 7 / 1;
    background: #1992d4;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding:  0 30px;
}

#logo {
    display: flex;
    gap: 20px;
}

#logo > img {
    width: 50px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.icon {
    width: 25px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.tabs > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.content {
    grid-area: 2 / 2 / 7 / 6;
    background: #e2e8f0;
}

